.main-header {
  width: calc(100% - 300px);
  margin-left: 300px;
  border: 1px solid #eee;
  position: relative;
}

.group-name {
  padding: 35px 0 15px 40px;
  font-size: 20px;
  color: $font-color1;
}

.group-member {
  font-size: 12px;
  color: $font-colorp;
  padding-left: 40px;
  padding-bottom: 10px;
}

.main-header-right {
  position: absolute;
}

.edit-btn {
  float: right;
  padding: 12.5px 20px;
  margin: 28px 20px 0;
  background-color: #fffafa;
  color: $botnn;
  border: 1px solid $botnn;
  text-decoration: none;
 }

.message {
    margin-left: 300px;
    padding-top: 26px;
    padding-left: 40px;
}

.upper-message__user-name {
    color: #434A54;
    font-size: 16px;
    font-weight: bold;
    float: left;
  }

.upper-message__date {
    color: #999;
    font-size: 12px;
    padding: 0 10px 10px;
    float: left;
  }

.lower-meesage {
    color: #434A54;
    clear: both;
  }

.form {
  width: calc(100% - 300px);
  height: 90px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color:silver;

   &__message {
    height: 20px;
    width: calc( 90% - 130px );
    padding: 15px 10px;
    margin: 20px 40px;
    border: none;

  }
}

.form-icon {
  color: gray;
  right: 0;
  bottom: 0;
  margin-bottom: 35px;
  margin-right: 210px;
  position: absolute;
}

.hidden {
  display: none;
}

.form__submit {
  color: #fff;
  width: 100px;
  height: 50px;
  text-align: center;
  background-color: #38AEF0;
  margin: 20px 40px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}
