.chat-main {
  width: calc(100vw - 300px);
  float: left;
}

.main-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eee;
  overflow: scroll;

  &__left-box {
    margin-top: 35px;

    &__current-group {
      font-size: 20px;
      color: $font-color1;
      margin-bottom: 15px;
    }

    &__menber-list {
      font-size: 12px;
      color: $font-colorp;
      display: flex;
    }
  }

  &__edit-btn {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 30px;
    color: $botnn;
    border: 1px solid $botnn;
    position: absolute;
    right: 40px;
  }
}

.messages{
  height: calc(100vh - 190px);
  padding: 46px 40px;
  background-color: #fafafa;
  overflow: scroll;
  box-sizing: border-box;
}

.message {
  padding-bottom: 40px;

  &__upper-info {
    display: flex;
    margin-bottom: 10px;

    &__talker {
      color: #434A54;
      font-size: 16px;
      font-weight: bold;
    }

    &__date {
      color: #999999;
      font-size: 12px;
      margin-left: 10px;
    }
  }

  &__text {
    color: #434A54;
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.form {
  height: 90px;
  padding: 20px 40px;
  background-color:silver;
  box-sizing: border-box;

   &__message {
    height: 50px;
    width: 100%;
    padding: 0 40px 0 10px;
    border: none;
    display: flex;

  }
}

.new_message {
  position: relative;
  display: flex;
}

.icon {
  color: black;
  font-size: 1.3rem;
  position: absolute;
  cursor: pointer;
  right: 123px;
  top: 14px;
}

.hidden {
  display: none;
}

.form__submit {
  width: 100px;
  height: 50px;
  padding: 0 30px;
  margin-left: 15px;
  background-color: #38aef0;
  color: white;
  cursor: pointer;
}
